{% extends "layout.html.twig" %}

{% block title %}
   Listes des absences
{% endblock %}

{% block content %}

   <a href="addabsence"><h3 class="box-title"><i class="fa fa-plus"></i>&nbsp; Ajouter une absence</h3></a>

 
{% endblock %}