{% extends "layout.html.twig" %}

{% block title %}
   Listes des absences
{% endblock %}

{% block content %}

   <a href="addabsence"><h3 class="box-title" style="float:right"><i class="fa fa-plus"></i>Ajouter une absence</h3></a>


{% endblock %}