{% extends "layout.html.twig" %}

{% block title %}
   Liste des Notes et des Evalutations
{% endblock %}

{% block content %}
    
    <a href="addnote"><h3 class="box-title" ><i class="fa fa-plus"></i>Ajouter une note - evaluation</h3></a>
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
        Liste des Notes
    </div>
    
    <div class="small-box bg-aqua">
        Liste des Evalutations
    </div>

{% endblock %}