{% extends "layout.html.twig" %}

{% block title %}
   Liste des Notes et des Evalutations
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
        Liste des Etudiants pour ajouter les notes
    </div>

    <div class="box">
        <div class="box-body">
            <table id="example1" class="table table-hover table-striped">
                <thead>
                <tr style="background-color: #3c8dbc">
                    <th style="text-align: center; border: 1px solid darkgrey;">Etudiant</th>
                    <th style="text-align: center; border: 1px solid darkgrey;">Classe</th>
                    <th style="text-align: center; border: 1px solid darkgrey;">Ajouter</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td style="text-align: center; border: 1px solid darkgrey;">{{ student.student_name~' '~student.student_firstname }}</td>
                        <td style="text-align: center; border: 1px solid darkgrey;">BTS Blanc SIO</td>
                        <td style="text-align: center; border: 1px solid darkgrey;">SIO 2</td>
                    </tr>
                {% endfor %}

            </table>
            <form action="#" method="post" >
                <div class="btn-group">
                    <button type="submit" class="btn btn-warning btn-flat">
                        <i class="fa fa-plus">Ajouter des notes</i>
                        <input type='hidden' name="id_evaluation">
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}