{% extends "layout.html.twig" %}

{% block title %}
   Listes des Retards
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
      Listes des Retards
    </div>

{% endblock %}