{% extends "layout.html.twig" %}

{% block title %}
   Listes des Retards
{% endblock %}

{% block content %}

     <a href="addretard"><h3 class="box-title" ><i class="fa fa-plus"></i>Ajouter un retard</h3></a>
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
      Listes des Retards
    </div>

{% endblock %}