{% extends "layout.html.twig" %}

{% block title %}
   Tableau de bord des Abscences et des Retards
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
        Liste des Abscences
    </div>
    
    <div class="small-box bg-aqua">
        Liste des Retards
    </div>

{% endblock %}