{% extends "layout.html.twig" %}

{% block title %}
        Tableau de Bord d'Administation
{% endblock %}

{% block content %}

        <!-- ./col -->
         <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ users_number }}</h3>
                    <p>Utilisateurs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                    <a href="userslist" class="small-box-footer" >Liste des utilisateurs &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                        <a href="adduser" class="small-box-footer">Ajouter un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                        <a href="modifuser" class="small-box-footer">Modifier un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                </div>
        </div>
                    
                      <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ disciplines_number }}</h3>

                    <p>Disciplines</p>
                </div>
                <div class="icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                    <a href="disciplineslist" class="small-box-footer">Liste des disciplines &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="adddiscipline" class="small-box-footer">Ajouter une discipline &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="modifdiscipline" class="small-box-footer">Modifer une discipline &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
{% endblock %}