{% extends "layout.html.twig" %}

{% block title %}
   Gestion des Classes
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
       Liste des Classes
    </div>

{% endblock %}