{% extends "layout.html.twig" %}

{% block title %}
    Tableau de bord / Gestion des Matières - Disciplines
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
      Listes des Matières
    </div>

{% endblock %}