{% extends "layout.html.twig" %}

{% block title %}
   Tableau de bord des Notes et des Evalutations
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
        Liste des Notes
    </div>
    
    <div class="small-box bg-aqua">
        Liste des Evalutations
    </div>

{% endblock %}