{% extends "layout.html.twig" %}

{% block title %}
                Tableau de Bord des Statistiques
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
        Statistiques des Notes
    </div>
    
    <div class="small-box bg-aqua">
         Statistiques des Abscences
    </div>
         
    <div class="small-box bg-aqua">
         Statistiques des Retards
    </div>


{% endblock %}