{% extends "layout.html.twig" %}

{% block title %}
        Tableau de bord des Utilisateurs
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
      Listes des utilisateurs
    </div>

{% endblock %}