{% extends "layout.html.twig" %}

{% block title %}
   Listes des Disciplines
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
     Listes des Disciplines
    </div>

{% endblock %}