{# src/ppe_gestion/views/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
   
{% endblock %}

{% block content %}
<div style="margin-top:-50px">
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="panel panel-info" style="width:300px ; height:180px;background:#FBEFE0; border-radius:8px;  padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="studenttab"><h4 ><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Etudiants</h4></a>
            <a href="studentslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Etudiants</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
            <a href="adduser"><p><i class="fa fa-plus">  </i>  Ajouter un Etudiant</p></a>
        </div>
    </div>

    <!-- Div pour afficher le nombre total de classe -->
    <div class="panel panel-info" style="width:300px ;  height:180px;background:#FBEFE0; border-radius:8px; padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="classestab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Classes</h4></a>
            <a href="classeslist"><p><i class="glyphicon glyphicon-th-list">   </i>  Liste des Classes</p></a>
        </div>
       <div class="icon"  style="margin-left:20px;">
            <a href="addclass"><p><i class="fa fa-plus">  </i>  Ajouter une classe</p></a>
        </div>
    </div>

    <div class="panel panel-info" style="width:300px ; height:180px;background:#FBEFE0; border-radius:8px;  padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="abscencetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Abscences</h4></a>
            <a href="abscenceslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Absences</p></a>
            <a href="retardslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des retards</p></a>
        </div>
         <div class="icon"  style="margin-left:20px;">
            <a href="addabscence"><p><i class="fa fa-plus">  </i>  Ajouter une Abscence</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
            <a href="adddretard"><p><i class="fa fa-plus">  </i>  Ajouter un retard</p></a>
        </div>
    </div>
    
    
    <!-- Div pour afficher le nombre de matieres total -->
    <div class="panel panel-info" style="width:300px;  height:180px;background:#FBEFE0; border-radius:8px; padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="disciplinetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Matières</h4></a>
            <a href="disciplineslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Matières</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
            <a href="adddiscipline"><p><i class="fa fa-plus">  </i>  Ajouter une Matière</p></a>
        </div>
    </div>
    
        
    <!-- Div pour afficher le nombre d'utilisateurs -->
    <div class="panel panel-info" style="width:300px; height:180px;background:#FBEFE0; border-radius:8px;  padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="usertab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Utilisateurs</h4></a>
            <a href="userslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Utilisateurs</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
               <a href="addduser"><p><i class="fa fa-plus">  </i>   Ajouter un Utilisateur</p></a>
        </div>
    </div>
    
        <!-- Div pour afficher le nombre de notes -->
    <div class="panel panel-info" style="width:300px; height:180px;background:#FBEFE0; border-radius:8px;  padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="notetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Evaluations</h4></a>
            <a href="noteslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Evalutations</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
               <a href="adddnote"><p><i class="fa fa-plus">  </i>  Ajouter une Evaluation</p></a>
        </div>
    </div>
        
        <!-- Div pour afficher le nombre d'abscence et retard -->
    <div class="panel panel-info" style="width:300px; height:180px;background:#FBEFE0; border-radius:8px;  padding:30px; display:inline-block;">
        <div class="inner"  style="margin-left:20px;">
            <a href="notetab"><h4><i class="glyphicon glyphicon-dashboard">  </i> Abscences et des Retards</h4></a>
            <a href="noteslist"><p><i class="glyphicon glyphicon-th-list">  </i>  Liste des Abscences et des Retards</p></a>
        </div>
        <div class="icon"  style="margin-left:20px;">
               <a href="adddnote"><p><i class="fa fa-plus">  </i>   Ajouter une Abscence</p></a>
        </div>
         <div class="icon"  style="margin-left:20px;">
               <a href="adddnote"><p><i class="fa fa-plus">  </i>  Ajouter un Retard</p></a>
        </div>
    </div>
 </div>       
{% endblock %}