{# src/ppe_gestion/views/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
    COUCOU
{% endblock %}

{% block content %}

   COUCOU
    <a href="{{ path('addevaluation') }}">Ajouter un étudiant</a>

{% endblock %}