
{# layout principal #}
<!doctype html>

<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>ClassRoomManager</title>


</head>
<body>
<header>

    <div id="content">

        {% block content %}
        {% endblock %}

    </div>
</header>

<footer>

</footer>

</body>
</html>
