{% extends "layout.html.twig" %}

{% block title %}
   Statistiques sur les Etudiants
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
    Statistiques sur les Etudiants
    </div>

{% endblock %}