{# src/ppe_gestion/views/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content  %}
<div style="top:60px; position:absolute"> 
    <h3  style="display:inline-block; " ><a href="testlogin"><span class="label label-default">Accès Utilisateur</span></a></h3>
    
    <h3  id="btnAdmin"onmouseout="bgOpacitymax()" onmouseover="bgOpacitymin()" >
            <span class="label label-default" onclick="showAdminAcces()">Admin</span>
    </h3>


    <div class="accesAdmin" id="accesAdmin"  >

                                     <!--                      UTILISATEURS                   -->
        <div class="panel panel-info indexDiv ">
            <div class="inner" >
                <a href="usertab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Profils Utilisateurs</h4></a>
                <a href="userslist"><p><i class="glyphicon glyphicon-th-list rightDiv">  </i>  Liste des Utilisateurs</p></a>
            </div>
            <div class="icon rightDiv" >
                <a href="adduser"><p><i class="fa fa-plus">  </i>   Ajouter un Utilisateur</p></a>
            </div>
        </div>

    </div>
     
        <div class="panel panel-info indexDiv ">
            <div class="inner" >
                <a href="usertab"><h4><i class="glyphicon glyphicon-dashboard">  </i> Modifier Mon profil </h4></a>
            </div>
        </div>

  
    <!--                   STATISTIQUES                 -->
    <div class="panel panel-info indexDiv" >
        <div class="inner " >
            <a href="stattab"><h4 ><i class="glyphicon glyphicon-stats">  </i>  Statistiques </h4></a>
        </div>
    </div>
  <!--                   CALENDRIER                   -->
    <div class="panel panel-info indexDiv"   >
        <div class="inner " >
            <a href="calendar"><h4 ><i class="fa fa-calendar">  </i>  Calendrier </h4></a>
        </div>
    </div>





 <!--                      DISCIPLINES                   -->
    <div class="panel panel-info indexDiv">
        <div class="inner" >
            <a href="disciplinetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Disciplines</h4></a>
            <a href="disciplineslist"><p><i class="glyphicon glyphicon-th-list rightDiv">  </i>  Liste des Disciplines</p></a>
        </div>
        <div class="icon rightDiv" >
            <a href="adddiscipline"><p><i class="fa fa-plus">  </i>  Ajouter une Discipline</p></a>
        </div>
    </div>




    <!--                        CLASSES                    -->
    <div class="panel panel-info indexDiv ">
        <div class="inner" >
            <a href="classetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Classes</h4></a>
            <a href="classeslist"><p><i class="glyphicon glyphicon-th-list rightDiv">   </i>  Liste des Classes</p></a>
        </div>
        <div class="icon rightDiv" >
            <a href="addclass"><p><i class="fa fa-plus ">  </i>  Ajouter une classe</p></a>
        </div>
    </div>



    <!--                     ABSENCES                   -->
    <div class="panel panel-info indexDiv" >
        <div class="inner" >
            <a href="absencetab"><h4><i class="glyphicon glyphicon-dashboard">  </i>  Absences - Retards</h4></a>
            <a href="absenceslist"><p><i class="glyphicon glyphicon-th-list rightDiv">  </i>  Liste des Absences</p></a>
            <a href="retardslist"><p><i class="glyphicon glyphicon-th-list rightDiv">  </i>  Liste des retards</p></a>
        </div>
        <div class="icon rightDiv" >
            <a href="addabsence"><p ><i class="fa fa-plus">  </i>   Ajouter une Absence</p></a>
            <a href="addretard"><p><i class="fa fa-plus">  </i>  Ajouter un Retard</p></a>
        </div>
    </div>


    <!--                        ETUDIANTS                    -->
    <div class="panel panel-info indexDiv" >
        <div class="inner " >
            <a href="studenttab"><h4 ><i class="glyphicon glyphicon-dashboard">  </i>  Gestion des Etudiants</h4></a>
            <a href="studentslist"><p class="rightDiv"><i class="glyphicon glyphicon-th-list">  </i>  Liste des Etudiants</p></a>
        </div>
        <div class="icon rightDiv" >
            <a href="addstudent"><p><i class="fa fa-plus">  </i>  Ajouter un Etudiant</p></a>
        </div>
    </div>



    <!--                NOTE   -   EVALUATIONS              -->
    <div class="panel panel-info indexDiv">
        <div class="inner" >
            <a href="notestats"><h4><i class="glyphicon glyphicon-dashboard">  </i> Statistiques Evaluations</h4></a>
             </div>
        <div class="icon rightDiv" >
            <a href="addnote"><p><i class="fa fa-plus">  </i>  Ajouter une Evaluation</p></a>
        </div>
    </div>




</div>
{% endblock %}