{% extends "layout.html.twig" %}

{% block title %}
       Liste des Utilisateurs
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
             Liste des Utilisateurs
    </div>

{% endblock %}