

.indexDiv{
    width:310px ; 
    height:auto;
    background:#F9F9F9; 
    border-radius:8px;  
    padding:10px; 
    margin:10px; 
    display:inline-block;
    box-shadow:1px 2px #005384;
}

.rightDiv{
    
    margin-left:40px;
}

.accesAdmin{
    
    visibility:hidden;
    display:none;
}

.accesAdmin{
    
    visibility:hidden;
    display:none;
}

.btnAdmin{
    
    width:250px;
}

.mytd{
   text-align: center; 
   border: 1px solid darkgrey; 
    width: 150px;
    word-wrap: break-word;
    height: auto;
    min-height:50px;
    max-height:150px;
    font-size:13px;
    overflow: hidden; 
    -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
