{% extends "layout.html.twig" %}

{% block title %}
   Formulaire d'ajout d'une classe
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="addclass" style="margin-left:20px">
            <div class="box-body">
                <div class="form-group">
                    <label for="#">Type de classe*</label>
                    <input type="text" name="class_type" class="form-control" style="width: 10%; border-radius: 3px" id="#" placeholder="Ex : Licence, Master, BTS...">
                </div>
                <div class="form-group">
                    <label for="#">Classe*</label>
                    <input type="text" name="class_name" class="form-control" style="width: 10%; border-radius: 3px" id="#" placeholder="Ex : SIO 2">
                </div>
                <div class="form-group">
                    <label for="#">Nombre d'étudiant</label>
                    <input type="text" name="nombreEtudiant" class="form-control" style="width: 10%; border-radius: 3px" id="#" placeholder="Ex : 15">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <label for="#">Date de passage d'examen final*</label>
                    <input type="text" name="year" class="form-control" style="width: 20%; border-radius: 3px" id="#" placeholder="2016">
                </div>
                <div class="form-group">
                    <label for="#">Option</label>
                    <input type="text" name="option" class="form-control" style="width: 20%; border-radius: 3px" id="#" placeholder="SLAM">
                </div>
                <div class="form-group">
                    <label for="#">Description</label>
                    <textarea class="form-control" name="description" rows="3" placeholder="Ex : Le parcours SLAM du BTS SIO vise à former des developpeurs ..." style="width: 40%; border-radius: 3px" id="#"></textarea>
                </div>
                <small>*Champs obligatoire</small>
            </div>


            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
            </div>
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
            {% endfor %}
        </form>
            <!-- /.box-footer -->
    </div>

{% endblock %}