{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout de discipline
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <!-- form start -->
        <form class="form-horizontal" method="post" action="{{ path('discipline') }}">
            <div class="box-body" style="margin-left:2rem; width: 90%;">

                <div class="form-group">
                    <label>Intitulé de la discipline</label>
                    <input type="text" name="matiere" style=" width: 25% ;border-radius: 3px" class="form-control" placeholder="Nom...">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" name="description" style=" width: 25% ;border-radius: 3px" class="form-control" rows="3" placeholder="Ajouter une description de la discipline"></textarea>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Ajouter</button>
            </div>
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
            {% endfor %}
            <!-- /.box-footer -->
        </form>
    </div>

{% endblock %}

