{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'examens et contrôles
{% endblock %}

{% block content %}

    <!-- form start -->


    <!-- /.box-header -->
    <!-- form start -->

    <div class="box box-primary">
        <!-- Main content -->
        <form class="form-horizontal" method="post" action="{{ path('exam') }}" style="margin-left:20px">

            <div class="box-body">
                <div class="form-group">
                    <label for="#">Nom de l'examen</label>
                    <input style="border-radius: 3px; width: 15%" type="text" class="form-control" name="name" placeholder=""/>
                </div>

                <!-- Date range -->
                <div class="form-group">
                    <label for="#">Date de l'examen</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control pull-right" name="date" id="reservation" type="text" style=" width: 25% ;border-radius: 3px" >
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->

                <div class="form-group">
                    <label for="#">Description</label>
                    <textarea  class="form-control" rows="3" style="width: 30%; border-radius: 3px" name="description" placeholder="Ex : Bon travail, travaillez mieux la méthode vue en cours ..."></textarea>
                </div>
                <div class="form_group">
                    <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                </div>
                {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {% endfor %}
            </div>

        </form>

        <!-- /.row -->
    </div>
    <!-- /.content-wrapper -->



{% endblock %}

