{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'un retard d' Etudiant
{% endblock %}

{% block content %}

    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="small-box bg-aqua">
     Selectionner Etudiant
    </div>

{% endblock %}