{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'étudiant
{% endblock %}

{% block content %}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="{{ path('student') }}">
        <div class="box-body">
            <div class="form-group">
                <label for="#">Nom <span style="color: red;">*</span></label>
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Dupont" name="name">
            </div>
            <div class="form-group">
                <label for="#">Prénom <span style="color: red;">*</span></label>
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Jean-Michel" name="firstname">
            </div>
            <div class="form-horizontal">
               <div class="form-horizontal">
                   <label for="#">Classe <span style="color: red;">*</span></label>
                   <select class="form-control" id="sel2" name="classname" style="border-radius: 3px; width: 10%">
                       {% for classroom in classes %}
                           <option value="{{ classroom.id_class }}">
                               {{ classroom.class_name }}
                           </option>
                       {% endfor %}
                   </select>
               </div>
                <div class="form-horizontal" style="margin-left: 13%; margin-top: -5.5%; padding-bottom: 2%" >
                    <label for="#">Option</label>
                    <input type="text" class="form-control" style="border-radius: 3px; width: 10%" id="#" placeholder="Ex: SLAM" name="option">
                </div>

            </div>
            <div class="form-group">
                <label for="#">Date de naissance <span style="color: red;">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" name="birthday" style=" width: 25% ;border-radius: 3px" id="datepicker" data-inputmask="'alias': 'jj/mm/aaaa'" data-mask>
                </div>
            </div>
            <div class="form-group">
                <label for="#">Adresse email <span style="color: red;">*</span></label>
                <input type="email" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="email" placeholder="Ex : jeanmichou@gmail.com">
            </div>
            <div class="form-group">
                <label for="#">N° de téléphone</label>
                <input type="tel" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="phone" placeholder="Ex : 0656543487">
            </div>
            <div class="form-group">
                <label for="#">Adresse <span style="color: red;">*</span></label>
                <textarea rows="3" class="form-control" name="address" placeholder="Ex : 234, route des pins / Nice / 06200, France" width="35%" style=" width: 35% ;border-radius: 3px" id="#"></textarea>
            </div>
            <div class="form-group">
                <label for="#">Statut <span style="color: red;">*</span></label>
                <!-- TODO: A changer pour une liste déroulante avec champ dans la base -->
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="statut" placeholder="Ex : Alternant">
                <select class="form-control" id="sel2" style="border-radius: 3px; width: 10%">
                    <option>
                        Alternant
                    </option>
                    <option>
                        Initial
                    </option>
                    <option>
                        PTFQ
                    </option>
                </select>
            </div>
            <small><span style="color: red;">* Champs obligatoires</span></small>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
        </div>
        {% for success in app.session.getFlashBag.get('success') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
    </form>
    <!-- /.box-footer -->

</div>

{% endblock %}