{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'étudiant
{% endblock %}

{% block content %}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="#">Nom *</label>
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Dupont">
            </div>
            <div class="form-group">
                <label for="#">Prénom *</label>
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Jean-Michel">
            </div>
            <div class="form-group">
                <label for="#">Classe *</label>
                <select class="form-control" id="sel2" name="classe" style="border-radius: 3px; width: 30%"></select>
            </div>
            <div class="form-group">
                <label for="#">Date de naissance *</label>
                <input type="date" class="form-control" style=" width: 25% ;border-radius: 3px" id="#">
            </div>
            <div class="form-group">
                <label for="#">Adresse email *</label>
                <input type="email" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : jeanmichou@gmail.com">
            </div>
            <div class="form-group">
                <label for="#">N° de téléphone *</label>
                <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : 06 54 46 54 39">
            </div>
            <div class="form-group">
                <label for="#">Adresse *</label>
                <textarea rows="3" class="form-control" placeholder="Ex : 234, route des pins / Nice / 06200, France" width="35%" style=" width: 35% ;border-radius: 3px" id="#"></textarea>
            </div>
            <small>* Champs obligatoires</small>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
        </div>
    </form>
    <!-- /.box-footer -->

</div>


{% endblock %}