{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'utilisateurs
{% endblock %}

{% block content %}

    <!-- form start -->
    <form class="form-horizontal" action="{{ path('user') }}"  method="post">
        <div class="box-body" style="margin-left:2rem; width: 80%; ">
            <div class="form-group" style="width: 15%; display:inline-block;margin:10px;">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Prénom</label>
                <input type="text" class="form-control" placeholder="Prénom...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Date de Naissance</label>
                <input type="date" class="form-control" placeholder="Date de Naissance...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Adresse</label>
                <textarea type="text" class="form-control" rows="2" placeholder="Adresse..."></textarea>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Email</label>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Téléphone</label>
                <input type="tel" class="form-control" placeholder="Téléphone...">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Mot de passe</label>
                <input type="tel" class="form-control" placeholder="in 6 caracteres">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Mot de passe</label>
                <input type="mdpass" class="form-control" placeholder="min 6 caracteres">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
        </div>
        <!-- /.box-footer -->
    </form>


{% endblock %}

